@{
    Layout = "_AdminLayout";
}
@model UserViewModel


<h3 class="text-center">Kullanıcı Yönetimi</h3>
<hr /> <br />


<div class="row">
    <div class="col-6">
        <h3 class="text-center">Kullanıcı Ekle</h3>
        <form asp-action="AddUser" method="post">
            <div class="form-group">
                <label class="control-label"> Ad</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> Soyad</label>
                <input asp-for="Surname" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> TC</label>
                <input asp-for="IdentificationNumber" type="number" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> Telefon</label>
                <input asp-for="PhoneNumber" type="number" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> Kullanıcı Adı</label>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> E-mail</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> Şifre</label>
                <div class="row">
                    <div class="col-6">
                        <input asp-for="Password" class="form-control" id="Password" />
                    </div>
                    <div class="col-6">
                        <a onclick="password_generator()" class="btn btn-outline-primary btn-block">Parola Üret</a>
                    </div>
                </div>
            </div>
            <div>
                <input type="submit" class="btn btn-outline-primary btn-block" value="Ekle" />
                <a asp-action="Index" class="btn btn-outline-danger btn-block">Vazgeç</a>
            </div>
        </form>

    </div>
    <div class="col-6" style="border-left:1px solid black;">
        <h3 class="text-center">Kullanıcılar</h3>
        @if (ViewBag.AllUsers.Count == 0)
        {
<p class="text-center">Kullanıcı bulunamadı...</p> }
else
{
<table class="table">
    <thead class="bg-dark text-white">
        <tr class="text-center">
            <th>Ad</th>
            <th>Soyad</th>
            <th>E-Mail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var User in ViewBag.AllUsers)
        {
<tr class="text-center">
    <td>@User.Name</td>
    <td>@User.Surname</td>
    <td>@User.Email</td>
</tr>}
    </tbody>
</table>}
    </div>
</div>
<script>
    function password_generator() {
        var length = (8) ? (8) : (10);
        var string = "abcdefghijklmnopqrstuvwxyz"; //to upper
        var numeric = '0123456789';
        var punctuation = '!@@#$%^&*()_+~`|}{[]\:;?><,./-=';
        var password = "";
        var character = "";
        var crunch = true;
        while (password.length < length) {
            entity1 = Math.ceil(string.length * Math.random() * Math.random());
            entity2 = Math.ceil(numeric.length * Math.random() * Math.random());
            entity3 = Math.ceil(punctuation.length * Math.random() * Math.random());
            hold = string.charAt(entity1);
            hold = (password.length % 2 == 0) ? (hold.toUpperCase()) : (hold);
            character += hold;
            character += numeric.charAt(entity2);
            character += punctuation.charAt(entity3);
            password = character;
        }
        password = password.split('').sort(function () { return 0.5 - Math.random() }).join('');
        document.getElementById("Password").setAttribute('value', password);

    };
</script>