@model UserViewModel


<h3 class="text-center">User Yönetimi</h3>
<hr />

@await Html.PartialAsync("_TopMenuPartial")

<div class="row">
    <div class="col-6">
        <h3 class="text-center">Kullanıcı Ekle</h3>
        <form asp-action="AddUser" method="post">
            <div class="form-group">
                <label class="control-label"> Ad</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> Soyad</label>
                <input asp-for="Surname" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> TC</label>
                <input asp-for="IdentificationNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> Telefon</label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> Kullanıcı Adı</label>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> E-mail</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> Şifre</label>
                <input asp-for="Password" class="form-control" type="password" />
            </div>
            <div>
                <input type="submit" class="btn btn-outline-primary btn-block" value="Kaydet" />

            </div>
        </form>
    </div>
    <div class="col-6" style="border-left:1px solid black;">
        <h3 class="text-center">Kullanıcılar</h3>
        @if (ViewBag.AllUsers == null)
        {
        <p>Kullanıcı bulunamadı...</p> }
        else
        {
        <table class="table">
            <thead class="bg-dark text-white">
                <tr>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th>E-Mail</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var User in ViewBag.AllUsers)
                {
                    <tr>
                        <td>@User.Name</td>
                        <td>@User.Surname</td>
                        <td>@User.Email</td>
                    </tr>
                 }
            </tbody>
        </table>}
    </div>
</div>