@{
    Layout = "_AdminLayout";
}
@model List<Message>

<h3 class="text-center">Mesajlar</h3>
<hr />
<br />
<div class="row">
    <div class="col-12">

        @if (Model == null)
        {
            <p class="text-center">Gönderilmiş Mesaj bulunmamaktadır...</p> }
        else
        {
            <table class="table">
                <thead class="bg-dark text-white">
                    <tr class="text-center">
                        <th>Gönderen</th>
                        <th>Başlık</th>
                        <th>Açıklama</th>
                        <th>Tarih</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var message in Model)
                    {
                        <tr class="text-center">
                            <td>@message.User.Name</td>
                            <td>@message.Title</td>
                            <td>@message.Description</td>
                            <td>@message.CreateAt</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>
