<div class="row" style="margin-bottom:10px;">
    <div class="col-12 d-flex justify-content-center">
        <a asp-action="Index" asp-controller="Admin" class="btn btn-primary mr-2">Anasayfa</a>
        <a asp-action="AddUser" asp-controller="Auth" class="btn btn-primary mr-2">Kullanıcı Ekle</a>
        <a asp-action="AddBlock" asp-controller="Flat" class="btn btn-primary mr-2">Blok Ekle</a>
        <a asp-action="AddFlat" asp-controller="Flat" class="btn btn-primary mr-2">Daire Ekle</a>
        <a asp-action="DisplayRoles" asp-controller="Admin" class="btn btn-primary mr-2">Rol Ekle</a>
        <a asp-action="AddUserToRole" class="btn btn-info mr-2">Rol Ata</a>
    </div>
</div>

<hr />
