<div class="row" style="margin-bottom:10px;">
    <div class="col-12 d-flex justify-content-center">
        <a asp-action="Index" asp-controller="Admin" class="btn btn-primary mr-2">Kullanıcılar</a>
        <a asp-action="AddUser" asp-controller="Auth" class="btn btn-primary mr-2">Kullanıcı Ekle</a>
        <a asp-action="AddBlock" asp-controller="Flat" class="btn btn-primary mr-2">Blok Ekle</a>
        <a asp-action="AddFlat" asp-controller="Flat" class="btn btn-primary mr-2">Daire Ekle</a>
        <a asp-action="AddBill" asp-controller="Bill" class="btn btn-primary mr-2">Fatura Ekle</a>
        <a asp-action="SubscriptionAdd" asp-controller="Subscription" class="btn btn-primary mr-2">Aidat Ekle</a>
        <a asp-action="DebtList" asp-controller="Debt" class="btn btn-primary mr-2">Alacak Listesi</a>
        <a asp-action="PaidDebtList" asp-controller="Debt" class="btn btn-primary mr-2">Ödenmişler Listesi</a>
        <a asp-action="Messages" asp-controller="Message" class="btn btn-primary mr-2">Mesajlar</a>
        <a asp-action="DisplayRoles" asp-controller="Admin" class="btn btn-primary mr-2">Rol Ekle</a>
        <a asp-action="AddUserToRole" class="btn btn-info mr-2">Rol Ata</a>
    </div>
</div>

<hr />
