<div class="row" style="margin-bottom:10px;">
    <div class="col-12 d-flex justify-content-center">
        <a asp-action="AddUser" asp-controller="Admin" class="btn btn-primary mr-2">Add User</a>
        <a asp-action="DisplayRoles" asp-controller="Admin" class="btn btn-primary mr-2">New Role</a>
        <a asp-action="AddUserToRole" class="btn btn-info mr-2">Assign user to role</a>
        <a asp-action="Index" asp-controller="Admin" class="btn btn-primary">Go Back</a>
    </div>
</div>

<hr />
