@model Message
<form asp-action="SendMessage" method="post">
    <h3 class="text-center">İletişim Formu</h3> <br />
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="form-group">
                <input asp-for="Title" class="form-control" placeholder="Başlık" />
            </div>
            <div class="form-group">
                <textarea asp-for="Description" placeholder="Mesaj *" style="width: 100%; height: 250px;"></textarea>
            </div>
            <div class="form-group">
                <input asp-for="UserId" type="hidden" value="@Model.UserId" />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-outline-primary btn-block" value="Gönder" />
                <a asp-action="Index" class="btn btn-outline-danger btn-block">Vazgeç</a>
            </div>
        </div>
    </div>
</form>