@{
    Layout = "_AdminLayout";
}
@model List<Microsoft.AspNetCore.Identity.IdentityRole>

@{ ViewData["Title"] = "All Roles"; }

<h3 class="text-center">Rol Yönetimi</h3>
<hr /> <br />




<div class="row">
    <div class="col-6">
        <h3 class="text-center">Rol Ekle</h3>
        <form asp-action="AddRole" method="Post">
            <div class="form-group">
                <label>Rol Adı</label>
                <input type="text" id="role" name="role" class="form-control" placeholder="Rol adı giriniz..." />
                <br />
                <input type="submit" value="Ekle" class="btn btn-outline-primary btn-block" />
                <a asp-action="Index" class="btn btn-outline-danger btn-block">Vazgeç</a>
            </div>
        </form>
    </div>


    <div class="col-6" style="border-left:1px solid black;">
        <h3 class="text-center">Roller</h3>
        @if (Model.Count == 0)
        {
<p class="text-center">Role bulunamadı!</p> }
else
{
<table class="table">
    <thead class="bg-dark text-white">
        <tr>
            <th>Rol Adı</th>
            <th>İşlem</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
<tr>
    <td>@r.Name</td>
    <td>
        <a class="btn btn-outline-danger"
           asp-route-role="@r.Name"
           asp-action="RemoveRole"
           onclick="return confirm('Rolü kaldırmak istediğinize eminmisiniz?')">Rolü Kaldır</a>
    </td>
</tr>}
    </tbody>
</table>}
    </div>
</div>

