@model User

<h3 class="text-center">Kullanıcı Update</h3>
<hr />

@await Html.PartialAsync("_TopMenuPartial")

<div class="row">
    <div class="col-12">
        <h3 class="text-center">Kullanıcı Ekle</h3>
        <form asp-action="Update" method="post">
            <input asp-for="Id" class="form-control" type="hidden" value="@Model.Id" />
            <div class="form-group">
                <label class="control-label"> Ad</label>
                <input asp-for="Name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> Soyad</label>
                <input asp-for="Surname" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> TC</label>
                <input asp-for="IdentificationNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> Telefon</label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> Kullanıcı Adı</label>
                <input asp-for="UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> E-mail</label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label"> Şifre</label>
                <input asp-for="PasswordHash" class="form-control" />
            </div>
            <div>
                <input type="submit" class="btn btn-outline-primary btn-block" value="Güncelle" />
                <a asp-action="Index" class="btn btn-outline-danger btn-block">Vazgeç</a>
            </div>
        </form>
    </div>
</div>